# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Bases de datos locales
*.db
*.sqlite3

# Archivos de configuración de entorno
.env
.env.*
!.env.example
